{% extends 'layoutCrud.html.twig' %}

{% block body %}
	<div class="wrapper style3">
    <div class="inner">
    <h1>Modification d'un produit</h1>

    <table>
        <tbody>
             
            <tr>
                <th>Categorie</th>
                <td>{{ image.categorie }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ image.description }}</td>
            </tr>
        </tbody>
    </table>
    <div>Image actuelle :</div>
    <div class="top-10"><img class="crud_image top-10" src="{{ asset('uploads/'~image.image) }}" alt="" width="300"/></div>
        
        <form action="{{ path('images_update', {'id': image.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <input type="hidden" name="_method" value="post" />
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit">Modifier</button>
            </p>
        </form>
            
    </form>

    <ul id="menu_actions">
        <li>
            <a href="{{ path('images_index') }}"><< Retourner</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div></div>
{% endblock %}
